* {
    font-family: "Gowun Dodum", sans-serif;
    text-align: center;
}

body {
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center; /* Center content horizontally */
    align-items: center; /* Center content vertically */
    overflow-x: hidden; /* Prevent horizontal overflow */
    overflow-y: hidden; /* Prevent vertical overflow */
}

a {
    text-decoration: none;
    color: black;
}

button {
    margin: 10px;
    background-color: gold;
    border-style: none;
    border-radius: 999px;
}

#buttons-container {
    display: flex;
    justify-content: center;
}

/* Web & tablet */
@media only screen and (min-width: 800px) {
    h1 {
        font-size: 36px;
    }

    button {
        font-size: 24px;
        padding: 0px 24px 5px;
    }

    #bee-img {
        height: 328px;
        width: 557px;
    }

    #tired-bees {
        height: 377px;
        width: 716px;
    }
}

/* Mobile */
@media only screen and (max-width: 800px) {
    h1 {
        font-size: 24px;
    }

    button {
        font-size: 16px;
        padding: 0px 16px 3px;
    }

    #bee-img {
        height: 176px;
        width: 299px;
    }

    #tired-bees {
        height: 188px;
        width: 358px;
    }
}